NODE_ENV=test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sub_billing_test

SUBSCRIPTION_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/sub_billing_test?schema=subscription
SUBSCRIPTION_JWT_SECRET=testsecret
SUBSCRIPTION_PORT=3000
SUBSCRIPTION_BASE_URL=http://subscription-service:3000
SUBSCRIPTION_PAYMENT_SERVICE_URL=http://payment-gateway-service:3001

PAYMENT_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/sub_billing_test?schema=payment
PAYMENT_PORT=3001
PAYMENT_SUBSCRIPTION_SERVICE_URL=http://subscription-service:3000
